<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.DishMapper">
    <select id="PageQuery" resultType="com.sky.vo.DishVO">
          select d.id,d.name,d.category_id,d.image,d.price,d.description,d.status,d.update_time,category.name as category_name
              from dish as d
              left join category on d.category_id=category.id
             <where>
                 <if test="name !=null and name !=''">
                     d.name like concat('%',#{name},'%')
                 </if>
                  <if test="categoryId !=null">
                     and d.category_id=#{categoryId}
                 </if>
                  <if test="status !=null">
                      and d.status=#{status}
                  </if>
             </where>
          </select>
        <update id="updateDish">
            update dish
            <set>
                <if test="name !=null">
                    name=#{name},
                </if>
                <if test="categoryId !=null">
                    category_id= #{categoryId},
                </if>
                <if test="price !=null">
                    price= #{price},
                </if>
                <if test="status !=null">
                    status= #{status},
                </if>
                <if test="image!=null">
                    image= #{image},
                </if>
                <if test="description">
                    description= #{description},
                </if>
                update_time= #{updateTime},
            </set>
            where id=#{id}
        </update>
</mapper>